@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url(//fonts.cdnfonts.com/css/julius-sans-one);
@import url(//fonts.googleapis.com/css2?family=Krona+One&amp;display=swap);
@import url(//fonts.googleapis.com/css2?family=Hanalei+Fill&amp;family=Krona+One&amp;display=swap);

.cor-letra-forte {
  color: #2C2A4A !important;
}

.cor-bg-forte {
  background: #2C2A4A !important;
}

.cor-letra-clara {
  color: #7FDEFF !important;
}

.my-justify {
  text-align: justify;
}

.primeiro-alerta {
  font-family: 'JejuMyeongjo';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.bg-medio {
  background: #4F518c;
}

.cor-amarelo {
  background: yellow;
}

.cor-vermelho {
  background: red;
}

.texto-branco {
  color: white;
}

.bg-pag-princ {
  background: #7EDEFF;
}

.bg-conteudo {
  background: #BEB8EB;
}

.bg-header {
  background-image: url('../img/header/bg_turtle.jpeg') !important;
  height: 454px;
  background-position-x: 0px;
  background-position-y: 30%;
  background-size: 100%;

}

.bg-content {
  background-image: url('../img/bg/bgwater.jpg') !important;
  background-size: 35%;
  height: auto;
}


.titulo-grupo {
  position: relative;
  width: 336px;
  height: 102px;
  left: 15px;
  top: 10px;
  font-family: 'Hanalei Fill';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 83px;
  text-align: center;
  color: rgba(0, 0, 0, 0.37);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.explica-material {
  font-family: 'Julius Sans One', sans-serif;
  position: relative;
  top: 270px;
  left: 5px;
  font-size: 36px;
  width: fit-content;
  color: black;
  background: rgba(255, 255, 255, 0.45);
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.uptop {
  font-family: 'Krona One';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  color: #2C2A4A;
}

.dBottom {
  font-family: 'Krona One';
  font-style: normal;
  font-size: 20px;
  color: #2C2A4A;
}

.mapa-site {
  font-family: 'Krona One';
  font-style: normal;
  font-size: 20px;
  color: #2C2A4A;
}

.nossas-redes {
  font-family: 'Krona One';
  font-style: normal;
  font-size: 15px;
  color: #2C2A4A;
}

.uptop-back {
  background: #DABFFF;
}

.ajusta-btn {
  background: #2C2A4A;
  border-radius: 20px;
}

.zeraPadding {
  padding: 0 !important;
  margin: 0 !important;
}


.ajustaTamanhoImg {
  overflow: hidden;
  position: center;
  max-width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;

}

.meu-padding {
  padding-top: 30px !important;
}

.bg-footer {
  background-image: url('../img/bg/FooterBG.png') !important;
  height: 580px;
  position: relative;
  margin-top: -200px;
  background-size: 110%;
  background-repeat: no-repeat;

}

.empurra_conteudo {
  margin: 300px;
}

.meu-padding-rede-social {
  margin: 0 10px;
}

.puxa-pra-cima {
  margin-top: -10px;
}

.area-mapa-site {
  background-color: rgba(255, 255, 255, 0.2);
}

.super-margim {
  margin-top: 110px;
  margin-left: 30px;
}


.puxa-pra-cima2 {
  margin-top: -20px;
}

.puxa-pra-cima3 {
  margin-top: -50px !important;
}

p {
  text-indent: 30px;
}

.blockquote-custom {
  position: relative;
  font-size: 1.1rem;
}

.blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -40px;
  left: 19px;
}

.color-citation {
  background-color: #f5f7fa;
}


.super-padding {
  padding-bottom: 200px;
}

.my-img-adjust {
  background-image: url('../img/content/poluted.jpeg') !important;
  background-repeat: no-repeat;
  background-position-x: -450px;
  background-position-y: 0px;
  background-size: 75em;
  overflow: hidden;
}

.my-bordered {
  border-color: #2C2A4A !important;
  border-style: solid !important;
  border-width: 2px !important;

}

.link-sem-estilo {
  text-decoration: none;
}
